<div class="container">
  <div class="user-details">
    <h2> jecodeenchaussettes </h2>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h3>Je</h3>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Je est le mot utilisé par une personne s'auto-désignant. Ce mot est un pronom personnel de la
        première personne du singulier, le je est important dans le concepte.</p>
    </div>
    <div class="four columns">
      <h3>Code</h3>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Les premiers codages binaires de caractères furent introduits en France par l'ingénieur <a
              href="https://fr.wikipedia.org/wiki/Code_Baudot" title="Code Baudot">code Baudot</a>et par le code
        Baudot pour le  <a href="https://fr.wikipedia.org/wiki/Télex" title="Télex">Télex</a> et aux États-Unis par
        des sociétés répondant aux appels d'offres de l'État fédéral.</p>
    </div>
    <div class="four columns">
      <h3>Chaussettes</h3>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Une chaussette est un bas qui s'arrête à mi-jambe ou à la cheville et se porte à l'intérieur d'une chaussure.
        Le mot signifie petite chausse. Les chaussettes vont généralement par paire et sans différences entre le pied
        droit et le pied gauche, sauf pour certains usages techniques. de super chaussettes <a
                href="https://www.leschaussettesdeslimousins.com/?gclid=CjwKEAjwoLfHBRD_jLW93remyAQSJABIygGpJhTOM5NgoTd
                RmGUemk7eHeThC8ZwyXWr17vOzp2NERoC78Tw_wcB" title="Site de chaussettes">ici ...</a>
      </p>
    </div>
  </div>
</div>
