<div class="container">
  <div class="user-details">
    <h3> Presentation du concepte jecodeenchaussettes </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="jecodeenchaussettes-massage-plus" src="{{ "/assets/img/jecodeenchaussettes-massage-plus.jpg" | prepend:
      site.baseurl }}" />
    </div>
    <div class="six columns">
      <h4> La gamme distribuée par jecodeenchaussettes. </h4>
      <li>Les chaudessettes</li>
      <p>La chaussette massantte **MEDIFORM** est une chaussette **HAUT DE GAMME**, les ingénieurs qui ont conçu
        cette chaussette se sont associés à des professionnels de la santé pour intégrer les meilleures fonctions et
        techniques de coffort. Cette chaussette de massage est l'une des plus complets qui puisse exister, vous
        pourrez le constater si vous avez la chance de l'essayer a decouvrire avec jecodeenchaussettes</p>
      <a class="project-link" href="#">En s'avoir plus</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="jecodeenchaussettes-douleur.jpg" src="{{ "/assets/img/jecodeenchaussettes-douleur.jpg" | prepend:
      site.baseurl }}" />
    </div>
    <div class="six columns">
      <h4> La Douleur des mauvaises chaussettes </h4>
      <ul>
        <li> Par jecodeenchaussettes</li>
      </ul>
      <p>Quand on est jeune les muscles ont toutes leurs capacités. Avec le temps et pour tout le monde, la capacité
        musculaire diminue donc les muscles ne travaillent plus comme avant. Et pourtant les muscles sont indispensables
        à l’articulation, ce pour quoi il est important d'avoir de bonnes chaussettes de qualité jecodeenchaussette vous
        présente ici tout les risques des mauvaises chaussettes</p>
      <a class="project-link" href="#">La suite ici</a>
    </div>
  </div>
</div>
